//This file contains all styling that is common for all screen sizes, mobile first

header {
  height: 200px;
  // color: rgb(44, 44, 44);
  color: white;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  text-align: center;

  .header-name-container {
    padding-top: 30px;
    width: fit-content;
    margin: 0 auto;

    div {
      // background-color: #b0c4deeb;
      background-color: rgb(146, 160, 179);
      border-top: 1px solid rgb(255, 255, 255);
      border-bottom: 1px solid rgb(255, 255, 255);
      padding: 1rem;
    }
  }

  nav {
    max-width: 1200px;

    @media (max-width: 1061px) {
      display: none;
    }
  }
}

main {
  min-height: 100vh;
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
}

input[type='file'] {
  display: none;
}

hr {
  border: none;
  border-top: 5px dotted #d1d0d0;
  width: 20%;
  margin: 3rem auto 0;
}

.primary-btn {
  width: fit-content;
  padding: 0.5rem;
  border-radius: 15px;
  border: none;
  color: white;
  background-color: #171717;
}
.primary-btn:hover {
  cursor: pointer;
}
.primary-btn:disabled {
  cursor: auto;
  background-color: #9a9a9a;
  color: rgb(211, 210, 210);
}

.secondary-btn {
  width: fit-content;
  padding: 0.5rem;
  border-radius: 15px;
  color: black;
  background-color: #ffffff;
}
.secondary-btn:hover {
  cursor: pointer;
}

.icon-btn {
  background-color: transparent;
  border: none;
}
.icon-btn:hover {
  cursor: pointer;
}

.center {
  margin: 1rem auto;
}
.right-align {
  float: right;
}
//// Illustrations page ////
.illustration-container {
  padding-top: 2rem;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
  margin: 0 auto;
}

.illustration {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border: 1px solid black;
  border-radius: 5px;
  object-fit: contain;
}

.image-to-display {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-to-display:hover {
  cursor: pointer;
}

////Display single image on click page////
.selected-image-display-page {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding-top: 1rem;
}
.close-selected-image-view {
  position: absolute;
  top: 1rem;
  right: 0;
  border: none;
  background-color: transparent;
  :hover {
    cursor: pointer;
  }
}

.selected-image {
  position: relative !important;
  width: 100%;
}

.buttons-layout-selected-image-display {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 20%;
  button {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
  }
  button:hover {
    cursor: pointer;
  }
  button:disabled {
    svg {
      color: transparent;
    }
  }
}

//// About page ////
.about-container {
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem;
  h1 {
    margin-top: 2rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    text-align: center;
    margin-top: 2rem;
  }

  h2 {
    margin-top: 2rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    text-align: center;
  }
  h4 {
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
  }

  article {
    border-radius: 1rem;
  }

  .education-section {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    article {
      border-radius: 1rem;
      h3 {
        padding-bottom: 0.5rem;
      }
    }
  }

  .work-experience-section {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    article {
      border-radius: 1rem;
      h3 {
        padding-bottom: 0.5rem;
      }
    }
  }
}

//// Contact page ////

.contact-container {
  h1 {
    margin-top: 2rem;
    font-size: 1.5rem;
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
    padding: 0.5rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem;
}

//// Admin page ////
.admin-login-section {
  display: flex;
  flex-direction: column;
  margin: 4rem auto 0;
  max-width: 400px;
  h1 {
    text-align: center;
    margin-bottom: 2rem;
  }
  input {
    padding: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    border: 1px solid black;
    border-radius: 7px;
  }
  button {
    width: 100%;
  }
  .account-btn {
    width: 100%;
    margin-top: 1rem;
  }
}

//// Admin Dashboard ////

.dashboard-layout {
  margin: 2rem 1rem;
}

.admin-greeting-section {
  margin-top: 4rem;
  h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
  }
}

.admin-upload-image-section {
  margin-top: 3rem;
  position: relative;
  h2 {
    margin-bottom: 1rem;
  }
}

.upload-file-container {
  display: flex;

  margin-top: 1rem;
  flex-direction: column;

  input[type='file']::file-selector-button {
    border: 1px solid #000000;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
  }
  input[type='file']::file-selector-button:hover {
    background-color: #cbc8c8;
    cursor: pointer;
  }

  button:hover {
    background-color: #cbc8c8;
    cursor: pointer;
  }
}

.image-for-upload {
  width: 100%;
  max-width: 350px;
  position: relative;
  display: block;
  border-radius: 0.5rem;
}

.image-description-label {
  margin-top: 1rem;
}

.image-description-textarea {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  textarea {
    width: 100%;
  }
  button {
    width: fit-content;
    margin-top: 0.5rem;
  }
}

.admin-gallery {
  margin-top: 3rem;
}

.admin-gallery-view {
  max-width: 100vw;
  min-height: 100vh;
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.admin-gallery-image {
  margin: 0 auto;
  padding-top: 2rem;
  width: 300px;
}

.btn-layout {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

//// Admin about section ////

.about-admin-cards {
  display: flex;
  flex-direction: column;
  label {
    margin-top: 0.5rem;
  }
  input {
    padding: 0.3rem;
  }
  textarea {
    margin-bottom: 1rem;
  }
}

//// Admin dialog messages ////
.dialog-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.dialog-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
}
.dialog-box-button-positioning {
  display: flex;
  align-items: center;
}

.confirm-delete {
  background: rgb(136, 2, 2);
  color: white;
  padding: 10px;
  margin-right: 4px;
  border: none;
  cursor: pointer;
}
.regret-delete {
  background: rgb(5, 87, 17);
  color: white;
  padding: 10px;
  margin-right: 4px;
  border: none;
  cursor: pointer;
}

.admin-side-menu {
  width: 100%;
  display: flex;
  border-bottom: #000000 1px solid;
  border-top: #000000 1px solid;
  padding: 0.5rem;
  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0;
    width: 100%;
    justify-content: space-around;
    li {
      a {
        color: #000000;
      }
    }
  }
}

//// Footer ////

footer {
  height: 100px;
  margin-top: 2rem;
  text-align: center;
  border-top: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  div {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2rem;
    a {
      color: #000000;
    }
  }
}
