//This file contains all styling specific for desktop (min-width: 1120px)

nav {
  width: 80%;
  margin: 30px auto;
  :visited {
    color: black;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    li {
      font-size: 1.5rem;
      a {
        text-decoration: none;
      }
    }
  }
}

main {
  min-height: 100vh;
}

.illustration-container {
  grid-template-columns: repeat(3, 1fr);
}
