//This file contains all styling specific for tablet (min-width: 700px)

main {
  margin: 0 auto;
}

////Illustrations////
.illustration-container {
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.selected-image-display-page {
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.selected-image {
  max-height: 70vh;
}

////About////
.about-container {
  .education-section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    article {
      width: 40%;
    }
  }
  .work-experience-section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    article {
      width: 40%;
    }
  }
}

/// ADMIN SECTION ///
.upload-file-container {
  margin-top: 1rem;
  flex-direction: column;
}

.image-for-upload {
  max-width: 350px;
  margin: 0;
}
