//This file contains all styling specific for tablet (min-width: 700px)

main {
  width: 80%;
  margin: 0 auto;
}

.illustration-container {
  grid-template-columns: repeat(2, 1fr);
}

.about-container {
  .education-section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    article {
      width: 40%;
    }
  }
  .work-experience-section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    article {
      width: 40%;
    }
  }
}
